<!DOCTYPE html>
<html>
<head>
<style>
    table, td, th {    
        border: 1px solid #ddd;
        text-align: left;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
    padding: 10px;

    th {
        background-color: #4CAF50;
        color: white;
    }
}
</style>
</head>
<body>

<p>Click the button to add a new row at the first position of the table and then add cells and content.</p>

<form action="/updateData" method="post" id="updateDataForm">
    <table id="myTable">
        <thead>
        <th>
            <td>Check</td>
            <td>Status</td>
            <td>Content</td>
            <td>Requested By</td>
        </th>
	{% for one in templateData %}
        <tr>
            <td>'<input type="checkbox"></td>
            <td><select>
                {% for status in one.all_status %}
                    <option value="{{status.s}}" {{status.tf}}>{{status.s}}</option>
                {% endfor %}
                </select>
            <td>{{one.what}}</td>
            <td>{{one.who}}</td>
        </tr>
        {% endfor %}
        </thead>
    </table>
    <br><br><br><br><br>

    <input id="content" name = 'content' placeholder="What to do"/><input id="person" name = "person" placeholder="Requested By"/>
    <button onclick="createRow()" >Insert</button><button onclick="deleteRow()" type="submit">Delete</button>
    
    <script>
    function createRow() {
        var table = document.getElementById("myTable");
        var checkBoxNum = document.getElementById("myTable").rows.length;
        var contentTyped = document.getElementById("content").value;
        var personTyped = document.getElementById("person").value;        
        document.getElementById("updateDataForm").innerHTML = '<input type="hidden" \
                                                                id="data' + checkBoxNum + '" \
                                                                name="data' + checkBoxNum + '" \
                                                                value="unckd__\
                                                                      '+personTyped+'__\
                                                                      '+contentTyped+'__\
                                                                      wtg__\
                                                                      create">';
        document.getElementById("updateDataForm").submit()
        //document.write( JSON.stringify(udpateData()) );
    }
    
    function deleteRow(){
        var table = document.getElementById("myTable");
        var checkBoxNum = document.getElementById("myTable").rows.length;
    
        for(count = 1; count < checkBoxNum; count++){
            var row = table.rows[count];
            var chkbox = row.cells[0].getElementsByTagName('input')[0];
            if('checkbox' == chkbox.type && true == chkbox.checked) {
                table.deleteRow(count);
            }                        
        }
        udpateData();
    }
    
    function udpateData(){
        var table = document.getElementById("myTable");
        var rowLength = table.rows.length;
        var data = {'asdfasdf':'asdfasdf'};
        for (i = 0; i < rowLength; i++){  
           var oCells = table.rows.item(i).cells
           var cellLength = oCells.length;
           
           var cellData = {};
           for(var j = 0; j < cellLength; j++){
              cellData[j] = oCells.item(j).innerHTML;          
           }
           data[i] = cellData;
        }
        return data ;
    }
        
    </script>
</form>
</body>
</html>
